<p>world works!</p>

<button pButton type="button" label="Add world" (click)="addWorld($event)"></button>

<p-treeTable [value]="worlds">
    <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Size</th>
            <th>Type</th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowNode let-rowData="rowData">
        <tr>
            <td>
                <p-treeTableToggler [rowNode]="rowNode"></p-treeTableToggler>
                {{rowData.name}}
            </td>
            <td>{{rowData.size}}</td>
            <td>{{rowData.type}} <button *ngIf="rowData.type === 'World'" pButton type="button" label="Add scene" (click)="addScene($event, rowData.entity)"></button></td>
        </tr>
    </ng-template>
</p-treeTable>